<#assign basePath="" />
<#assign goods = goods >
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="${basePath}/lib/html5shiv.js"></script>
<script type="text/javascript" src="${basePath}/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="${basePath}/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="${basePath}/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="${basePath}/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="${basePath}/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="${basePath}/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="${basePath}/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>产品包商品管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 产品包商品管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel(this)" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="goods_add('添加','goods_product_package_add.html?uid=0','','')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a></span> <span class="r">共有数据：<strong>${goods?size}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="40">展示图片</th>
				<th width="70">商品名称</th>
				<th width="40">市场价格</th>
				<th width="40">销售价格</th>
				<th width="40">库存</th>
				<th width="40">发货地址</th>
				<th width="40">状态</th>
				<th width="40">操作</th>
			</tr>
		</thead>
		<tbody>
			<#list goods as g>
			<tr class="text-c">
				<td><input type="checkbox" value="${g.id}" name=""></td>
				<td>${g.id}</td>
				<td>
					<img height="100" src="/admin/show?filePath=${g.showImgDir}">
				</td>
				<td>${g.name}</td>
				<td>${g.marketPrice?string('0.00')}</td>
				<td>${g.price?string('0.00')}</td>
				<td>${g.num}</td>
				<td>${g.sendPosition}</td>
				<!-- <td>${g.ownershipLeaderId}</td> -->
				<td class="td-status">
					<#if g.groundingSta == 1>
						<a style="text-decoration:none" onClick="grounding_stop(this,'${g.id}')" href="javascript:;" title="单击已下架"><span class="label label-success radius">已上架</span></a>
					<#else>
						<a style="text-decoration:none" onClick="grounding_start(this,'${g.id}')" href="javascript:;" title="单击已上架"><span class="label label-error radius">已下架</span></a>
					</#if>
				</td>
				<td class="td-manage">
					<a title="编辑" href="javascript:;" onclick="goods_edit('编辑','goods_product_package_edit.html','${g.id}','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
				</td>
			</tr>
			</#list>
		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="${basePath}/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="${basePath}/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="${basePath}/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="${basePath}/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="${basePath}/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="${basePath}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="${basePath}/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,7,8,9]}// 制定列不参与排序
		]
	});
});
/*显示图片*/
function goods_img_show(title, obj, id, dir, type){
	layer_show(title, "goods_product_package_img.html?id="+id+"&dir="+dir+"&type="+type+"", "", 510);
}
/*批量删除*/
function datadel(obj){
	//获取所有被选中id
	var ids = "";
	$.each($('input:checkbox:checked'),function(){
		ids += $(this).val() + ",";
    });
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/XxdGoodsProductPackage/datadel',
			data: {ids : ids},
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
/*添加*/
function goods_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*下架*/
function grounding_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/XxdGoodsProductPackage/updateSta',
			dataType: 'json',
			data: {id: id, groundingSta: 2},
			success: function(data){
				$(obj).parents("tr").find(".td-status").html('<a style="text-decoration:none" onClick="grounding_start(this,'+id+')" href="javascript:;" title="单击已上架"><span class="label label-error radius">已下架</span></a>');
				$(obj).remove();
				layer.msg('已下架!',{icon: 5,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*上架*/
function grounding_start(obj,id){
	layer.confirm('确认要上架吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/XxdGoodsProductPackage/updateSta',
			dataType: 'json',
			data: {id: id, groundingSta: 1},
			success: function(data){
				$(obj).parents("tr").find(".td-status").html('<a style="text-decoration:none" onClick="grounding_stop(this,'+id+')" href="javascript:;" title="单击已下架"><span class="label label-success radius">已上架</span></a>');
				$(obj).remove();
				layer.msg('已上架!',{icon: 6,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*编辑*/
function goods_edit(title,url,id,w,h){
	layer_show(title,url+"?id="+id,w,h);
}
</script> 
</body>
</html>